.tbl-rows-vertical-position .fi-ta-actions-cell{
    vertical-align: top;
}

.list-padding-quarter .fi-ta-text{
    padding: .25rem 0 !important;
}
.list-media-attachments img{
    max-width: 75px;
}

/* TRIBUTE */

.tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    overflow: auto;
    display: block;
    z-index: 999999;
}
.tribute-container ul {
    margin: 2px 0 0 0;
    padding: 0;
    list-style: none;
    background: #efefef;
    display: block;
}
.tribute-container li {
    display: block;
    white-space: nowrap;
    padding: 5px 5px;
    cursor: pointer;
}
.tribute-container li.highlight {
    background: #ddd;
}
.tribute-container li span {
    font-weight: bold;
    white-space: nowrap;
}
.tribute-container li.no-match {
    cursor: default;
}
.tribute-container .menu-highlighted {
    font-weight: bold;
}

/* BACKGROUND ZOOMER */

.image-upload .fi-fo-file-upload
{
    background-image: var(--image-bg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: .5em;
    position: relative;
}
    .image-upload .fi-fo-file-upload:hover{
        cursor: zoom-in;
    }
    .image-upload .fi-fo-file-upload:before{
        background-color: white;
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
    .image-upload .fi-fo-file-upload:hover:before,
    .image-upload .fi-fo-file-upload:hover > *{
        visibility: hidden;
        opacity: 0;
    }